<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Centered div — Beispiel</title>

  
   <link rel="stylesheet" href="style-main.css" />
   <link rel="stylesheet" href="style-responsive.css" />
  <link rel="stylesheet" href="style-effects.css" />
</head>
<body>
    <main class="whole-part">
 
        <div class="left-part">
            <div class="title-part">
              <h1  class="bold-black-text" id="id-title">Mortgage Calculator</h1>
              <button id="clearLabel" class="small-blue-text">Clear All</button>
              

            </div>
            <div class="amount-part">
              <label for="amount" class="small-blue-text">Mortgage amount</label>
              <div class="input-field blue-borders">
                    <span class="currency-symbol-left-blue">£</span>
                    <input type="text" class="no-border-input" id="amount" />
              </div>
            </div>

            <div class="term-rate-part">
                <div class="term-part">
                    <label for="termInYears" class="small-blue-text">Mortgage Term</label>
                   <div class="input-field blue-borders">
                            
                             <input type="text" class="no-border-input" id="termInYears"/>
                              <span class="currency-symbol-right-blue" >years</span>
                   </div>
                </div>

                <div class="rate-part">
                    <label for="rateEveryYear" class="small-blue-text">Interests Rate</label>
                     <div class="input-field blue-borders">
                             
                             <input type="text" class="no-border-input" id="rateEveryYear" />
                             <span class="currency-symbol-right-blue">%</span>
                     </div>
                </div>
            </div>

            <div class="type-part">
                <p class="small-blue-text" >Mortgage Type</p>
                <label class="radio-button blue-borders-for-radio-button">
                    <input type="radio" name="mortage-type" class="point point-blue style-for-input" value="Repayment" >
                    <span class="style-for-span"> Repayment</span>
               </label>

              <label class="radio-button blue-borders-for-radio-button">
                    <input type="radio" name="mortage-type" class="point point-blue style-for-input" value="Interests">
                     <span class="style-for-span"> Interests Only</span>
              </label>
            </div>

            <div class="calculate-part">
                   
                   <button type="button" class="button-setup brown-button" id="buttonCalculate">
                   <img src="../assets/images/icon-calculator.svg" alt="Calculator item">
                   Calculate Repayments</button>
            </div>


        </div>
        
        <div class="right-part">
          
          <img src="../assets/images/illustration-empty.svg"  id="image">

          <h3 id="h-text">
            Results shown here
          </h3>

          <p id="p-text">
            Complete the form and click “calculate repayments”
            to see what your monthly repayments would be.</p>

      
            
        </div>

      </main>
 
  <script type="module" src="../controller/MyController4.mjs">
</script>
</body>
</html>
