<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Centered div — Beispiel</title>

  
   <link rel="stylesheet" href="style-main.css" />
   <link rel="stylesheet" href="style-responsive.css" />
  <link rel="stylesheet" href="style-effects.css" />
</head>
<body>
    <div class="whole-part">
 
        <div class="left-part">
            <div class="title-part">
              <p  class="bold-black-text" id="id-title">Mortgage Calculator</p>
              <p class="small-blue-text" id="clearLabel">Clear All</p>

            </div>
            <div class="amount-part">
              <p class="small-blue-text">Mortgage amount</p>
              <div class="input-field blue-borders">
                    <span class="currency-symbol-left-blue">£</span>
                    <input type="text" class="no-border-input" id="amount" />
              </div>
            </div>

            <div class="term-rate-part">
                <div class="term-part">
                    <p class="small-blue-text">Mortgage Term</p>
                   <div class="input-field blue-borders">
                            
                             <input type="text" class="no-border-input" id="termInYears"/>
                              <span class="currency-symbol-right-blue" >years</span>
                   </div>
                </div>

                <div class="rate-part">
                    <p class="small-blue-text">Interests Rate</p>
                     <div class="input-field blue-borders">
                             
                             <input type="text" class="no-border-input" id="rateEveryYear" />
                             <span class="currency-symbol-right-blue">%</span>
                     </div>
                </div>
            </div>

            <div class="type-part">
                <p class="small-blue-text" >Mortgage Type</p>
                <label class="radio-button blue-borders-for-radio-button">
                    <input type="radio" name="mortage-type" class="point point-blue" value="Repayment" style="margin-left:10px;margin-bottom:4px;">
                    <span style="padding-left:5px;font-weight: bold;"> Repayment</span>
               </label>

              <label class="radio-button blue-borders-for-radio-button"style="margin-bottom: 0;">
                    <input type="radio" name="mortage-type" class="point point-blue" value="Interests"style="margin-left:10px;margin-bottom:4px">
                     <span style="padding-left:5px;font-weight: bold;"> Interests Only</span>
              </label>
            </div>

            <div class="calculate-part">
                   
                   <button type="button" class="button-setup brown-button" id="buttonCalculate">
                   <img src="../assets/images/icon-calculator.svg">
                   Calculate Repayments</button>
            </div>


        </div>
        
        <div class="right-part">
          
          <img src="../assets/images/illustration-empty.svg" 
           style="width:150px;height:150px;margin:0;padding:0" id="image">

          <h3 style="color:white;text-align: center; 
               width:80%;font-size:14px;padding:0;margin:0;margin-bottom:5px" 
               id="h-text">
            Results shown here
          </h3>

          <p style="color:hsl(203, 41%, 72%);font-size: 10px;
                 width:80%;text-align:center;padding:0;margin:0"
                 id="p-text">
            Complete the form and click “calculate repayments”
            to see what your monthly repayments would be.</p>

      
            
        </div>

    </div>
 
  <script type="module" src="../controller/MyController4.mjs">
</script>
</body>
</html>
